header, footer {
	width: 100%;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#title {
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	background-color: #00BFFF;
	font-size: 240%;
	padding: 1em;
}

#subtitle {
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	background: #87CEFA;
	font-size:210%;
	padding: 1em;
}

.devices {
	display: inline-block;
	margin-top: 3%;
	width: 20%;
	height: 50%;
	font-family: 'Source Sans Pro', sans-serif;
	border-spacing: 20px;
}

.devices {
	font-size: 120%;
	padding-left: 50px;
}

.switch {
	margin-top: 5px;
	position: relative;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	width: 60px;
	height: 34px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.simple {
	font-size: 150%;
}

.text {
	position: relative;
	bottom : 10px;
	text-align: center;
}

#regul_intensity {
	width: 60%;
}

.none {
	display: none;
}

.buttons {
	text-align: center;	
}
